[submodule "django"]
	path = django
	url = git@github.com:django/django.git
[submodule "ext/1.7/django-debug-toolbar"]
	path = ext/1.7/django-debug-toolbar
	url = git@github.com:ryanhiebert/djext.git
	branch = 1.7/django-debug-toolbar
